@page
@model TRHDipComp_Project.Pages.GetWeatherReportModel
@{
    ViewData["Title"] = "GetWeatherReport";
}

<h2>Get Weather Report</h2>

@{
    if (Model.Result != null)
    {
        if (Model != null)
        {
            if (Model.ResponseWeather != null)
            {
                <h3> Today's weather @DateTime.Now.ToShortDateString()  @DateTime.Now.ToShortTimeString()</h3>
                <br />
                <p> Location @Model.ResponseWeather.name</p>
                <p> Country: @Model.ResponseWeather.sys.country.</p>
                <p> Weather message: @Model.ResponseWeather.weather[0].description</p>
                <p> Temperature: @Model.ResponseWeather.main.temp " °C"</p>
                <p> Humidity: @Model.ResponseWeather.main.humidity</p>
                <p> Wind speed: @Model.ResponseWeather.wind.speed "Km/h"</p>
                <p> Latitude: @Model.ResponseWeather.coord.lat Longitude: @Model.ResponseWeather.coord.lon</p>

                <a href="https://openweathermap.org/weathermap?zoom=8&lat=@Model.ResponseWeather.coord.lat&lon=@Model.ResponseWeather.coord.lon">Local weather map</a>
            }
        }
    }
    else
    {
        <h3> No result yet</h3>
    }
}
