@page
@model TRHDipComp_Project.Pages.ListStudentsModel
@{
    ViewData["Title"] = "List Students";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Current Students at ITG</h2>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

<form>
    <p>
        Programme:

        <input type="text" asp-for="ProgrammeSearchString" />
        <input type="submit" value="Filter" />
    </p>
</form>

<h3> </h3>

<table class="table table-bordered table-hover table-condensed table-functions-grad">
    <thead>
        <tr>
            <th>Student ID</th>
            <th>Programme</th>
            <th>Student name</th>
            <th>Submit assessment result</th>
            <th>Assessment results</th>
            <th>Student image</th>
        </tr>
    </thead>
    <tbody>

        @{
            foreach (var stud in Model.SelectedStudentList)
            {
                string progName = Model.ProgrammesFound.Where(p => p.ProgrammeID == stud.ProgrammeID)
                                                       .Select(p => p)
                                                       .First().ProgrammeName;
                <tr>
                    <td>@stud.StudentID </td>
                    <td>@progName</td>
                    <td><a asp-page="ShowStudentDetails" asp-route-id="@stud.StudentID">@stud.ToString()</a></td>
                    <td><a asp-page="SubmitAssessmentResult" asp-route-id="@stud.StudentID">Submit result for @stud.FirstName</a></td>
                    <td><a asp-page="ShowStudentResults" asp-route-id="@stud.StudentID">@stud.FirstName's results</a></td>
                    <td>
                        @{
                            if (@stud.StudentImage != null)
                            {
                                var base64 = Convert.ToBase64String(@stud.StudentImage);
                                var imgSrc = String.Format("data:image/png;base64,{0}", base64);

                                <img src=@imgSrc style="max-width:50px; max-height:50px;" />
                            }
                        }

                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<a asp-page="/Index">Home</a>