@page
@model TRHDipComp_Project.Pages.SendStudentMessageModel
@{
    ViewData["Title"] = "Send Student Message";
}
<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h3 class="text-center">Send Message </h3class=>
    </div>
    <div class="col-md-4"></div>
</div>

<form>
    <label class="control-label">Select Programme</label>
    <div class="row">
        <select asp-for=ProgrammeID onchange="this.form.submit();">
            <option value="All" selected>All</option>
            @foreach (var prog in Model.Programmes)
            {
                <option value=@prog.ProgrammeID>@prog.ProgrammeName</option>
            }
        </select>
    </div>
</form>

<form method="post" class="form-horizontal">

    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <textarea type="text" asp-for=Subject class="form-control border" rows="1" onkeyup="countSubjectCharacters(this);"></textarea>
            <label asp-for=Subject class="control-label"></label>
            <p id="countSubjectChars">0 characters</p>
            <span asp-validation-for=Message></span>
        </div>
        <div class="col-md-3"></div>
    </div>
    <br />
    <div class="row">
        <div class="col-md-3"></div>
        <div class="form-group col-md-6">
            <textarea type="text" asp-for=Message class="form-control border" rows="5" onkeyup="countMessageCharacters(this);"></textarea>
            <label asp-for=Message class="control-label"></label>
            <p id="countMessageChars">0 characters</p>
            <span asp-validation-for=Message></span>
        </div>
        <div class="col-md-3"></div>
    </div>

    <div class="row form-group">
        <div class="col-md-2"></div>
        <div class="col-md-3">
            <input type="checkbox" onClick="toggleStudents(this);">
            <label class="control-label">Select All</label>
        </div>
        <div class="col-md-3">
            <input type="checkbox" asp-for=SendSMSMessage>
            <label asp-for=SendSMSMessage class="control-label"></label>
        </div>
        <div class="col-md-3">
            <input type="checkbox" asp-for=SendEmailMessage>
            <label asp-for=SendEmailMessage class="control-label"></label>
        </div>
        <div class="col-md-1"></div>
    </div>
    <br />
    <table class="table table-bordered table-hover table-condensed table-functions-grad">
        <thead>
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <tr>
                        <th class="text-center">Select</th>
                        <th class="text-center">Student ID</th>
                        <th class="text-center">Programme</th>
                        <th class="text-center">Student name</th>
                    </tr>
                </div>
                <div class="col-md-4"></div>
            </div>
        </thead>
        <tbody>
            @for (var i = 0; i < Model.StudentsInProgramme.Count(); i++)
            {

                var programmes = Model.ProgrammesFound.Where(p => p.ProgrammeID == Model.StudentsInProgramme[i].ProgrammeID)
                .Select(p => p);

                string progName = "";
                if (programmes.Count() != 0)
                {
                    progName = programmes.First().ProgrammeName;
                }
            <div class="row">
                <div class="col-md-4"></div>
                <div class="col-md-4">
                    <tr>
                        <div class="col-xs-offset-2">
                            <td class="text-center"><input type="checkbox" name="SelectedStudentIDsInProgramme" value="@Model.StudentsInProgramme[i].StudentID" class="center-block" /></td>
                        </div>
                        <td class="text-center">@Model.StudentsInProgramme[i].StudentID </td>
                        <td>@progName</td>
                        <td><a asp-page="ShowStudentDetails" asp-route-id="@Model.StudentsInProgramme[i].StudentID">@Model.StudentsInProgramme[i].FirstName @Model.StudentsInProgramme[i].SurName</a></td>
                    </tr>
                </div>
                <div class="col-md-4"></div>
            </div>
            }
        </tbody>
    </table>
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <button type="submit" class="btn btn-primary">Send message</button>
        </div>
        <div class="col-md-2"></div>
    </div>
</form>
<br />
<a asp-page="/Index">Home</a>

<script>
    function countSubjectCharacters(obj) {
        document.getElementById("countSubjectChars").innerHTML = obj.value.length + ' characters';
    }
    function countMessageCharacters(obj) {
        document.getElementById("countMessageChars").innerHTML = obj.value.length + ' characters';
    }
    function toggleStudents(source) {
        checkboxes = document.getElementsByName('SelectedStudentIDsInProgramme');
        for (var i = 0, n = checkboxes.length; i < n; i++) {
            checkboxes[i].checked = source.checked;
        }
    }
</script>
