@page "{id}"
@model TRHDipComp_Project.Pages.ShowStudentResultsModel
@{
    ViewData["Title"] = "ShowStudentResults";
}

<br />
<br />

<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Show Student Results</h2>
        <br />
        <h4 class="text-center">@Model.StudentName</h4>
        <h4 class="text-center">@Model.ProgrammeName</h4>
    </div>
    <div class="col-md-4"></div>
</div>
<br />

@*Show student name and programme of study

    Get list of Assessment results for this student

*@
<div class="container">
    <table class="table table-bordered table-hover table-condensed table-functions-grad">
        <thead>
            <tr>
                <th>Module</th>
                <th>Assessment</th>
                <th>Assessment date</th>
                <th>Student feedback</th>
                <th>Mark</th>
                <th>Maximum mark</th>
            </tr>
        </thead>
        <tbody>

            @{
                foreach (var assessmentResult in @Model.StudentAssessmentResultsList)
                {
                    string moduleName = @Model.ModuleList.Where(s => s.ModuleID == assessmentResult.ModuleID)
                                                   .Select(s => s)
                                                   .FirstOrDefault().ModuleName;

                    var assessments = @Model.AssessmentsList.Where(m => m.ModuleID == assessmentResult.ModuleID)
                                                            .Select(m => m);

                    string assessmentName = assessments.FirstOrDefault().AssessmentName;

                    int totalMark = assessments.FirstOrDefault().AssessmentTotalMark;

                    <tr>
                        <td>@moduleName</td>
                        <td>@assessmentName</td>
                        <td>@assessmentResult.AssessmentDate.ToShortDateString()</td>
                        <td>@assessmentResult.AssessmentResultDescription</td>
                        <td align="center">@assessmentResult.AssessmentResultMark</td>
                        <td align="center">@totalMark</td>
                    </tr>
                }
            }
        </tbody>
    </table>
</div>

<br />