@page "{id}"
@model TRHDipComp_Project.Pages.ShowAssessmentDetailsModel
@{
    ViewData["Title"] = "Show Assessment Details";
}

<h2>Show Assessment Details</h2>

@if (RouteData.Values["id"] != null)
{
    @RouteData.Values["id"]
}
else
{
    <h2>Routing page, no ID routed </h2>
}

@{
    <div class="container">
        <h3>Assessment details</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Assessment ID</th>
                    <th>Assessment Name</th>
                    <th>Assessment Description</th>
                    <th>Assessment Total Marks</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>@Model.Assessment.AssessmentID</td>
                    <td>@Model.Assessment.AssessmentName</td>
                    <td>@Model.Assessment.AssessmentDescription</td>
                    <td>@Model.Assessment.AssessmentTotalMarks</td>

                    @*
                            Revisit
                        <td><a asp-page="/EditAssessmentDetails" asp-route-id="@Model.Assessment.AssessmentID">Edit Assessment</a></td>
                        <td><a asp-page="/DeleteAssessment" asp-route-id="@Model.Assessment.AssessmentID">Delete Assessment</a></td>
                    *@
                </tr>

            </tbody>
        </table>
    </div>
}
<br />

<a asp-page="/Index">Home</a>

