@page  "{id}"
@model TRHDipComp_Project.Pages.ShowStudentDetailsModel
@{
    ViewData["Title"] = "Show Student Details";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<br />
<br />
<div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <h2 class="text-center">Show Student Details</h2>
        <h4 class="text-center">@Model.Student.ToString()</h4>

        @{
            string programmeName = Model.ProgrammesList.Where(p => p.ProgrammeID == Model.Student.ProgrammeID)
                                      .Select(p => p)
                                      .First().ProgrammeName;
            <h4 class="text-center">@programmeName</h4>
        }

    </div>
    <div class="col-md-4"></div>
</div>
<br />

@{

    if (Model.Student.StudentImage != null)
    {
        var base64 = Convert.ToBase64String(Model.Student.StudentImage);
        var imgSrc = String.Format("data:image/png;base64,{0}", base64);

        <img src=@imgSrc style="max-width:200px; max-height:200px;" />
    }

    <br />
    <br />

    <div class="container">
        <table class="table table-bordered table-hover table-condensed table-functions-grad">
            <thead>
                <tr>
                    <th>Student ID</th>
                    <th>Student name</th>
                    <th>Address</th>
                    <th>Mobile phone</th>
                    <th>Email</th>
                    <th>Student date of birth</th>
                    <th>Student PPS</th>
                    <th>Student gender</th>
                    <th>Programme type</th>
                    <th>Programme of study</th>
                    <th>Fee paid</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>@Model.Student.StudentID</td>
                    <td>@Model.Student.ToString()</td>
                    <td>@Model.Student.AddressOne <br /> @Model.Student.AddressTwo <br /> @Model.Student.Town <br /> @Model.Student.County </td>
                    <td>@Model.Student.MobilePhoneNumber</td>
                    <td>@Model.Student.EmailAddress</td>
                    <td>@Model.Student.DateOfBirth.ToShortDateString()</td>
                    <td>@Model.Student.StudentPPS</td>
                    <td>@Model.Student.GenderType</td>
                    <td>@Model.Student.FullOrPartTime</td>
                    <td>@programmeName</td>
                    <td>@Model.Student.ProgrammeFeePaid</td>
                    <td><a asp-page="UpdateStudentDetails" asp-route-id="@Model.Student.StudentID">Update student</a></td>
                    <td><a asp-page="DeleteStudent" asp-route-id="@Model.Student.StudentID">Delete student</a></td>
                </tr>
            </tbody>
        </table>
    </div>
}
<br />

<a asp-page="/Index">Home</a>