@page "{id}"
@model TRHDipComp_Project.Pages.ShowAssessmentResultModel
@{
    ViewData["Title"] = "Show Assessment Result";
}

<h2>Show Assessment Result @RouteData.Values["id"]</h2>

@if (RouteData.Values["id"] != null)
{
    @RouteData.Values["id"]
}
else
{
    <h2>Routing page, no ID routed </h2>
}

@{
    <div class="container">
        <h3>Assessment result details</h3>
        <table class="table table-bordered">
            <thead>
                <tr>
                    <th>Student</th>
                    <th>Programme</th>
                    <th>Module</th>
                    <th>Assessment</th>
                    <th>Feedback</th>
                    <th>Mark</th>
                    <th>Edit</th>
                    <th>Delete</th>
                </tr>
            </thead>
            <tbody>

                <tr>
                    <td>@Model.StudentName</td>
                    <td>@Model.ProgrammeName</td>
                    <td>@Model.ModuleName</td>
                    <td>@Model.AssessmentName</td>
                    <td>@Model.AssessmentResult.AssessmentResultDescription</td>
                    <td>@Model.AssessmentResult.AssessmentResultMark</td>

                    @*
            Revisit
        <td><a asp-page="/EditAssessmentDetails" asp-route-id="@Model.Assessment.AssessmentID">Edit Assessment</a></td>
        <td><a asp-page="/DeleteAssessment" asp-route-id="@Model.Assessment.AssessmentID">Delete Assessment</a></td>
                    *@
                </tr>

            </tbody>
        </table>
    </div>
}
<br />